node_modules/
**/node_modules/
dist/
**/dist/
.next/
out/
.env
.DS_Store
.idea/
.vscode/
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
services/crawler/data/
